.container {
    max-width: 480px;
    background-color: #f9d3c4;
    margin: 50px auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.container label {
    font-size: 1.1rem;
    color: #555;
    display: block;
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.container h1 {
    font-size: 2.4rem;
    font-weight: 750;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.container input {
    width: 100%;
    padding: 0.4rem 0.3rem;
    margin-bottom: 1.2rem;
    border: 2px solid #f2c1a3;
    border-radius: 5px;
    font-size: 0.8rem;
}

.container input:focus {
    outline: 2px solid #f17b31;
}

.container button {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(254, 139, 68);
    color: #fff;
    padding: 0.5rem 1.2rem;
    margin-top: 0.4rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container button:hover {
    background-color: rgb(242, 120, 43);
}

.link-container {
    display: flex;
    align-items: center;
    margin-top: 14px;
    gap: 8px;
}

.link-container .link-text {
    font-size: 14px;
}

.link-container .link {
    font-size: 16px;
    color: blue
}

.link-container .link:hover {
    text-decoration: underline;
}

.home-link {
    display: block;
    text-align: center;
    margin-top: 12px;
    color: blue;
}

.home-link:hover {
    text-decoration: underline;
}



/* For mobile like small screen */
@media(max-width: 520px) {
    .container {
        max-width: 268px;
        margin: 20px auto;
        padding: 14px;
    }

    .container h1 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .container label {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .container input {
        padding: 4px 5px;
        margin-bottom: 14px;
        border: 1.6px solid #f2c1a3;
        font-size: 10px;
    }

    .container input:focus {
        outline: 1.6px solid #f17b31;
    }

    .container button {
        font-size: 12px;
        font-weight: 600;
        padding: 4px 0;
        margin-top: 4px;
    }

    .link-container {
        margin-top: 10px;
        gap: 6px;
    }
    .link-container .link-text {
        font-size: 10px;
    }
    .link-container .link {
        font-size: 12px;
    }

    .home-link {
        margin-top: 8px;
        font-size: 12px;
    }
}