@import "tailwindcss";

@layer components {
  .nav-link {
    @apply text-amber-50 font-semibold hover:text-amber-200;
  }
  .list-header {
    @apply bg-[#f8a584] p-1 border-[1.5px] border-[#f78a5f] px-2;
  }
  .list-item {
    @apply bg-[#f6bea8] p-1 border-[1.5px] border-[#f9a685] px-2 my-1;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 196, 169);
}

html {
    scroll-behavior: smooth;
}