@import "tailwindcss";

@layer components {
  .nav-link {
    @apply text-amber-50 font-semibold hover:text-amber-200;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(242, 196, 169);
}